body {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
  color: #282c34;
  font-size: 20px;
}

.wrapper {
  margin-top: 6px;
}

.info {
  color: #63b687;
}